@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Montserrat", sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

#backToTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position */
  bottom: 20px; /* Place the button at the bottom */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #1a1a1a; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 3px 8px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
#backToTop:hover {
  background-color: #1a1a2a; /* Add a dark-grey background on hover */
  color: #1a1a1a;
  transition: background-color 0.3s ease;
}
#backToTop:hover img {
  filter: invert(100%);
  transition: filter 0.3s ease;
}

#backToTop img {
  width: 35px;
  margin-top: 5px;
  filter: invert(100%);
}
